/*подключаем Motserrat*/
@font-face {
    font-family:"Montserrat";
    font-weight: 100;
    src: local("Montserrat"),
    url(../fonts/Montserrat/Montserrat-Thin.ttf);
}
@font-face {
    font-family:"Montserrat";
    font-weight: 100;
    font-style: italic;
    src: local("Montserrat"),
    url(../fonts/Montserrat/Montserrat-ThinItalic.ttf);
}
@font-face {
    font-family:"Montserrat";
    font-weight: 200;
    src: local("Montserrat"),
    url(../fonts/Montserrat/Montserrat-ExtraLight.ttf);
}
@font-face {
    font-family:"Montserrat";
    font-weight: 200;
    font-style: italic;
    src: local("Montserrat"),
    url(../fonts/Montserrat/Montserrat-ExtraLightItalic.ttf);
}
@font-face {
    font-family:"Montserrat";
    font-weight: 300;
    src: local("Montserrat"),
    url(../fonts/Montserrat/Montserrat-Light.ttf);
}
@font-face {
    font-family:"Montserrat";
    font-weight: 300;
    font-style: italic;
    src: local("Montserrat"),
    url(../fonts/Montserrat/Montserrat-ExtraLightItalic.ttf);
}
@font-face {
    font-family:"Montserrat";
    font-weight: 400;
    src: local("Montserrat"),
    url(../fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
    font-family:"Montserrat";
    font-weight: 400;
    font-style: italic;
    src: local("Montserrat"),
    url(../fonts/Montserrat/Montserrat-Italic.ttf);
}
@font-face {
    font-family:"Montserrat";
    font-weight: 500;
    src: local("Montserrat"),
    url(../fonts/Montserrat/Montserrat-Medium.ttf);
}
@font-face {
    font-family:"Montserrat";
    font-weight: 500;
    font-style: italic;
    src: local("Montserrat"),
    url(../fonts/Montserrat/Montserrat-MediumItalic.ttf);
}
@font-face {
    font-family:"Montserrat";
    font-weight: 600;
    src: local("Montserrat"),
    url(../fonts/Montserrat/Montserrat-SemiBold.ttf);
}
@font-face {
    font-family:"Montserrat";
    font-weight: 600;
    font-style: italic;
    src: local("Montserrat"),
    url(../fonts/Montserrat/Montserrat-SemiBoldItalic.ttf);
}
@font-face {
    font-family:"Montserrat";
    font-weight: 700;
    src: local("Montserrat"),
    url(../fonts/Montserrat/Montserrat-Bold.ttf);
}
@font-face {
    font-family:"Montserrat";
    font-weight: 700;
    font-style: italic;
    src: local("Montserrat"),
    url(../fonts/Montserrat/Montserrat-BoldItalic.ttf);
}
@font-face {
    font-family:"Montserrat";
    font-weight: 800;
    src: local("Montserrat"),
    url(../fonts/Montserrat/Montserrat-ExtraBold.ttf);
}
@font-face {
    font-family:"Montserrat";
    font-weight: 800;
    font-style: italic;
    src: local("Montserrat"),
    url(../fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf);
}
@font-face {
    font-family:"Montserrat";
    font-weight: 900;
    src: local("Montserrat"),
    url(../fonts/Montserrat/Montserrat-Black.ttf);
}
@font-face {
    font-family:"Montserrat";
    font-weight: 900;
    font-style: italic;
    src: local("Montserrat"),
    url(../fonts/Montserrat/Montserrat-BlackItalic.ttf);
}
/* подключаем PT_Serif */
@font-face {
    font-family:"PT Serif";
    font-weight: 400;
    src: local("PT Serif"),
    url(../fonts/PT_Serif/PTSerif-Regular.ttf);
}
@font-face {
    font-family:"PT Serif";
    font-weight: 400;
    font-style: italic;
    src: local("PT Serif"),
    url(../fonts/PT_Serif/PTSerif-Italic.ttf);
}
@font-face {
    font-family:"PT Serif";
    font-weight: 700;
    src: local("PT Serif"),
    url(../fonts/PT_Serif/PTSerif-Bold.ttf);
}
@font-face {
    font-family:"PT Serif";
    font-weight: 700;
    font-style: italic;
    src: local("PT Serif"),
    url(../fonts/PT_Serif/PTSerif-BoldItalic.ttf);
}
/* подключаем Couture */
@font-face {
    font-family:"Couture";
    font-weight: 700;
    src: local("Couture"),
    url(../fonts/Couture/couture-bld.otf);
}
@font-face {
    font-family:"Couture";
    font-weight: 700;
    font-style: italic;
    src: local("Couture"),
    url(../fonts/Couture/couture-bldit.otf);
}